### Python
__pycache__/
*.py[cod]
*.pyd
.pytest_cache/
venv/
.venv/

### Node / React
node_modules/
frontend/build/

### Env files
.env

### Generated artifacts / local storage
downloaded_decrypted/
/storage/

### Blockchain build artifacts
artifacts/
.states/
